<div class="gallery_gallery">
  <div class="card">
      <a href="" class="card__gallery">
        <img class="card__foto" src="https://picsum.photos/id/1018/400/250" alt="Card image" />
        <div class="card__info">
            <h3 class="card__name">Заголовок новини 1</h3>
            <p class="card__top-text">Текст новини 1.</p> 
        </div>
        <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
        </a>
    </div>

    <div class="card">
        <a href="" class="card__gallery">
            <img class="card__foto" src="https://picsum.photos/id/1025/400/250" alt="Card image" /> 
            <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 2.</p>
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a> 
    </div>

    <div class="card">
        <a href="" class="card__gallery">
            <img class="card__foto" src="https://picsum.photos/id/1035/400/250" alt="Card image" />
       <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 3.</p> 
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
      
    </div>
    <div class="card">
        <a href="" class="card__gallery">
            <img class="card__foto" src="https://picsum.photos/id/1043/400/250" alt="Card image" />
      <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 4.</p>
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
      </div>

    <div class="card">
        <a href="" class="card__gallery">
      <img class="card__foto" src="https://picsum.photos/id/1047/400/250" alt="Card image" />
      <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 5.</p> 
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
    </div>
    <div class="card">
        <a href="" class="card__gallery">
      <img class="card__foto" src="https://picsum.photos/id/1047/400/250" alt="Card image" />
      <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 6.</p> 
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
    </div>
    <<div class="card">
        <a href="" class="card__gallery">
      <img class="card__foto" src="https://picsum.photos/id/1047/400/250" alt="Card image" />
      <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 7.</p> 
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
    </div>
    <div class="card">
        <a href="" class="card__gallery">
      <img class="card__foto" src="https://picsum.photos/id/1047/400/250" alt="Card image" />
      <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 8.</p> 
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
    </div>
      <div class="card">
        <a href="" class="card__gallery">
      <img class="card__foto" src="https://picsum.photos/id/1047/400/250" alt="Card image" />
      <div class="card__info">
      <h3 class="card__name">Заголовок новини 2</h3>
      <p class="card__top-text">Текст новини 9.</p> 
    </div>
      <div class="card__thumb">
            <p class="card__date">Date</p>
            <p class="card__read-more">Read more</p>
        </div>
    </a>
    </div>
    </div>
  </div>
</div>
